.icon-lists{
    list-style-type: none;
}
.icon-lists li{
    padding-right: 20px;
}
.news .card-img-top{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .news img.card-img-top{
    object-fit: cover;
  }
  .news h3{
    font-size: 18px;
    padding-bottom: 10px;
    color: #0F1419;
    font-weight: bold;
  }
  .news h3 a{
    color: #0F1419;
  }
  .news ul{
    padding-left:10px;
    font-size: 13px;
  }
  .news ul li.username a{
    color: #0F1419;
    font-weight:bold
  }
  .author{
    border-radius:256px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
  }
  .news ul li a{
    color: #556572;
  }
  .news ul li a i,.article-detail .icons i, p.home-icons a .fa-circle{
    font-size:5px;padding: 0px 4px 0px 4px
  }
  .article-detail .icons a, .supporters p a.donator{
    font-weight: bold;
    font-size: 13px;
    color: #556572;
  }
  img.comment-img{
    max-height: 200px; max-width:100%; width: auto;border-radius: 10px;
  }
  .related img{
    border-radius: 10px;
    max-width: 100%;
    height:100px;object-fit:cover
  }
  .related .borderline{
    border:1px solid #e67e46; height:50px
  }
  .related ul {
    font-size: 13px;
  }
  .related ul a{
    color: #556572;
    font-weight: bold;
    
  }
  .profile-sidebar {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
  }
  .profile-initials{
    padding: 15px;

  }
  .profile-userpic {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-userpic img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .profile-usertitle {
    text-align: center;
    /* margin-bottom: 20px; */
  }
  
  .profile-usertitle-name {
    font-size: 18px;
    font-weight: bold;
    /* margin-bottom: 5px; */
  }
  
  .profile-usertitle-name .view_more a, button.pay-now{
    border-radius: 40px !important;
    background-color: #0F1419;
    color: white;
    border: none;
  }

  
  .profile-usermenu .nav-link {
    color: #0F1419;
    padding: 10px;
    border-radius: 5px;
  }
  
  .profile-usermenu .nav-link i {
    margin-right: 10px;
  }
  
  .profile-usermenu .nav-link .nav-text {
    margin-right: 5px;
  }
  
  .profile-usermenu .nav-link .badge {
    margin-left: 5px;
  }
  
  .profile-usermenu .nav-link:hover {
    background-color: #f8f8f8;
  }
  
  .profile-usermenu .nav-link.active {
    background-color: #f8f8f8;
  }
  
  .profile-usermenu .nav-link.active:hover {
    background-color: #f8f8f8;
  }
  
  .profile-usermenu .nav-link:focus {
    box-shadow: none;
    outline: none;
  }
    
    .post-date {
      margin-left: auto;
    }
    
    .recent-posts img{
      height: 256px;
      width: 100%;
      object-fit: cover;
    }
  
  
  .recent-posts h3 a,.other-posts h5 a{
    font-weight: bold;
    color: #0F1419;
    margin-bottom: 15px;
    
  }
  .recent-posts h3 a{
    font-size: 19px;
  }

  .other-posts h5 a{
    font-size: 16px !important;
    color: #202124;
    font-weight: 600;
  }
  .other-jobs h5 {
    color: #202124;
    font-weight: 600;
  }
  .other-jobs p{
    color:#9A9DA0;
  }
  .other-jobs a{
    color: #0F1419;
    margin-bottom: 15px;
    
  }
  .other-jobs a:hover .card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;       transition: all .5s;

    
  }
  .other-jobs p,.other-jobs small{
    color: #556572;
    
  }
  .recent-posts h3 small,.other-posts h5 small{
    color: #556572;font-weight: bold;
  }
  .recent-posts .card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .recent-posts p.icons a,.other-posts p.icons a{
    color: #556572;font-weight: bold;
    
  }
  .ctag{
    position: absolute;
    right: 7%;
    top: 2%;
    color: white;
    border: none;
  }
  .ctag a{
    color: white;
    border: none !important;
    font-size: 12px;
    padding: 3px 10px;
  }
  .footer-links  a, .footer-links span{
    color: #061726;
    
  }
  .footer-links  a.bold{
  font-weight: bold;
  }
  .channels img{
    border-radius: 256px;
  }
  .card-title a{
    color: #152533;
  }
  .home-img .img-cap img{
    border: 4px solid #D93738;
    height: 330px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  .home-img p{
    color: #343130 !important;
    line-height: 1.6;

  }
  .search-img h4 a{
    color:#152533;
  }
  .search-img img{
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
  }
  .home-icons a{
    font-weight: bold;
    color: #556572;
  }
  a.home-title{
    color:#152533;
    font-size: 25px;
    line-height:33px;
  }
  .w-tags .card {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 10px;
    min-height: 350px;
    /* width: 300px; */
    /* box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2); */
  }
  
  .supporters .card-img-top {
    width: 80px;
    height: 80px;
  }

  
  
  .carousel-item p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 8 8%22%3E%3Cpath fill%3D%22%23000000%22 d%3D%22M5.5 0l-3 3h1.41L6.91 7.91 8 6.83 4.83 3.63 8 0.41 6.91-0.67 2.91 3H1.5L5.5 0z%22%2F%3E%3C%2Fsvg%3E');
  }
  
  .carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 8 8%22%3E%3Cpath fill%3D%22%23000000%22 d%3D%22M2.5 0l3 3H4.09L1.09 7.91 0 6.83 3.17 3.63 0 0.41 1.09-0.67 5.09 3h2.41L2.5 0z%22%2F%3E%3C%2Fsvg%3E');
  }
  
  .supporters a.donator{
    font-size: 16px !important;
  }


  .share-icon {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
    font-size: 18px;
    cursor: pointer;
    color: rgb(94, 92, 92);
  }
  .share-icon:hover{
    color: #0069D9;
  }

  .new-job i{
    color: #556572;
    margin-right: 10px;
    font-size: 12px !important;
  }
  .share-icons {
    display: none;
    position: absolute;
    top: 40%;
    right: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: nowrap; /* Prevents line breaks */
  }
  
  .share-icons a {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle; /* Aligns icons vertically */
  }
  
   .share-icons a:last-child {
    margin-right: 0;
  }
  

  @media (max-width: 768px) {
    .w-tags .card {
      min-height: 350px;
   }
   .other-jobs{
    order: 2;
   }
   .jobfull{
    order: 1;
   }


  }

  @media (max-width: 420px) {
    .w-tags .card {
      min-height: 300px;
   }
   .az-logo img{
    height: 35px;
    top: -2px; }

   .related img{
    height:150px;
  }
   .article-detail h3 a.home-title,.home-img h3 a.home-title{
    font-size: 22px !important;
    line-height: 1.1rem;
   }

   .home-img .img-cap img {
    height: 220px;
   }
   .job-header h3{
    font-size: 22px;

   }
   .w-tags .card .card-body{
    padding-top: 5px;
   }
   .w-tags .card .card-footer{
    padding-bottom: 0px
   }
   .w-tags .card {
    min-height: 300px;
  }
  .payment-methods {
    display: flex;
    align-items: center;
    margin-left: -100px !important;
    flex-wrap: wrap; /* Allow items to wrap to next line */
    justify-content: center; /* Center items horizontally */
  }

  .payment-methods .mm{
    padding-left:100px
  }
  .method {
    flex-basis: calc(33.33% - 20px); /* Three columns with 20px gap */
    margin: 10px; /* Reduce margin */
  }

  .method img {
    width: 60px; /* Reduce image size */
    height: 60px;
    margin-bottom: 5px; /* Reduce margin */
  }
  
  .method span {
    font-size: 12px; /* Reduce font size */
  }
  .search-form {
    left: -400%; 
  }
  }
  .w-tags .card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .w-tags .card.card-has-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: 5px;
    /* width: 370px; */
  
  }

  
  .w-tags .card .card-footer {
    background: none;
    border-top: none;
  }
  .w-tags .card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
    
  }
  .w-tags .card .card-meta {
    color: #FF813F;
  }
  
  
  .w-tags .card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn:focus{
    outline: none;
    box-shadow: none;
  }
  .w-tags .card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .w-tags .card .card-img-overlay {
    /* transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1); */
    /* background: #234f6d; */
    border-radius: 10px;
    /* height: 70px; */
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889355742297) 0%, rgb(54, 57, 61) 100%);
  }
  .home-sm .item{
    height: 300px;
    background-image: url(../img/images/work-1.jpg);
    background-size:cover;
  }
  .view_more a{
    border-radius: 30px;
    color: #0069d9 !important;
    background-color: #F3F5F8;
    border: 1px solid #E5E5E5;
    padding:6px 5px
  }
  .view_more a:hover{
    border: 1px solid #9ab7d6;
  }

  p.comment-text{
    /* line-height: 1.5rem !important; */
    font-size: 15px !important;
    margin-top: -12px !important;
  }
  .view_more a i{
    font-size: 12px;
  }
  .personalized {
    width: 100%;
  }
  .no-posts {
    position: relative;
  }
  
  .no-posts .overlays {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .personalized .card{
    padding-right:10px;
    border-radius: 0%;
    border-top: none;
    border-left: none;
    /* border-bottom: none; */
  }
  .personalized h3{
    font-weight: 600; 
    font-size:18px;
    margin-bottom: 15px;
  }
  .personalized small a{
    color: #556572;
    font-weight: bold;
  }
  .sub-title{
    font-weight: bold;
  }
  .quick-reactions a {
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 5px 15px 5px 15px ;
  }
  .quick-reactions a i{
    font-size: 20px;
  }









a.readmore{
  color: #D93738;
}
/* ===== Career ===== */
.career-form {
  background-color: #4e63d7;
  border-radius: 5px;
  padding: 0 16px;
}

.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
}

.career-form .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.career-form .select-container {
  position: relative;
}

.career-form .select-container:before {
  position: absolute;
  right: 15px;
  margin-top: 8px;
  top: calc(50% - 14px);
  font-size: 12px;
  color: #ffffff;
  content: '\f078';
  font-family: "FontAwesome";
}

.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
}


.list-disk li {
  list-style: none;
  margin-bottom: 12px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}

.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 65px;
}


.job-content ul li {
  /* font-weight: 600; */
  opacity: 0.85;
}

.job-content ul li .fas{
  font-size: 15px;

}
@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .az-content {
    padding-top: 30px;
  }
}

@media (max-width: 576px) {
  .quick-reactions a {
    font-size: 17px;
    padding: 5px;
  }
  .share-icon{
    float: right !important;
    padding-top: 0px;
   }
}

.quick-reactions a i{
  font-size: 17px;
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}
.mb-30 {
    margin-bottom: 30px;
}

.comment .form-control{
  height: 100px;
}



.user-feed span, .user-feed span a{
  color:#556572;
}


.user-feed{

      margin-top: 12px;
}

.searchBox {
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  /* transform:  translate(-50%,50%); */
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  /* padding: 10px; */

}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

.post-form {
  background-color: #ffffff;
  padding: 20px;
}
.post-form label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}
.post-form #file-name {
  display: none;
}
.post-form #file-preview {
  display: none;
  max-width: 100%;
  margin-bottom: 10px;
}

.post-form #file-preview img {
  display: block;
  border-radius: 10px;
  width: auto;
  margin-right: 20px;
  max-height: 200px;
  margin-top: 10px;
}
.post-form #file-preview video {
  display: block;
  width: auto;
  max-height: 200px;
  margin-top: 10px;
}

.post-form span.delete-icon i{
  position: absolute;
  cursor: pointer;
  top: 87%;
  color: red;
  margin-left: -6% !important;
  font-size: 24px;
}
.post-form .file-link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.post-form label i {
  margin-right: 10px;
}

.post-form input[type="file"] {
  display: none;
}
.post-form .form-check-input {
  width: .9rem;
  height: .9rem;
  margin-bottom: 5px;
}
.post-form .form-check{
  margin-bottom: 10px;
}

.edit-profile .modal-body {
  height: 450px;
  padding: 20px;
  overflow-y: auto;
}

.edit-profile .modal-body {
  height: 400px; /* Set a fixed height */
  padding: 20px;
  overflow-y: auto;
}



.profile-img {
  text-align: center;
}

.profile-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-head h5 {
  font-size: 22px;
  color: #333;
}

.profile-head h6 {
  font-size: 16px;
  color: #888;
  margin-top: 10px;
}

.profile-head .proile-rating {
  font-size: 14px;
  color: #818181;
  margin-top: 10px;
}

.profile-head .proile-rating span {
  color: #495057;
  font-size: 16px;
  font-weight: 600;
}

.profile-head .btn {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
}
.profile-head .btn:hover {
  background-color: #0069d9;
}
.profile-body h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile-body p {
  font-size: 16px;
  color: #333;
}

.thumbnail {
  border: none;
  padding: 0;
}

.thumbnail img {
  width: 100%;
  object-fit:cover;
  height: 150px;
}

.caption {
  padding: 10px;
  text-align: center;
}

.caption h5 {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.caption p {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

.coffee-now .top-most select,input[type='text'], input[type='number']{
  height: 40px;
}

.coffee-now .card{
  border: 1px solid #CDD4E0;
}
.coffee-now img.profile {
  object-fit: cover;
  max-width:100%;
  height:300px;
}
.coffee-now p.card-text{
  line-height: 1.8;
}

button.paycofee{
  border-radius: 256px;
  color: white;
  background-color: #FF813F;
}
/* For screens smaller than 768px (e.g. mobile devices) */


.payment-methods {
  display: flex;
  justify-content: center;
  align-items: center;
}

.method {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}

.method img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  cursor: pointer;
}

.method span {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.method input[type="radio"] {
  display: none;
}

.method label {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 0;
}

.method input[type="radio"]:checked + label {
  font-size: 1px;
  color: #007bff;
  font-weight: bold;
}

.method input[type="radio"]:checked + label img {
  border:2px solid #007bff;
  padding:10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.credit-card .card-header {
  border-radius: 0;
}
.credit-card .card-body {
  padding: 2rem;
}
.credit-card .input-group-append {
  cursor: pointer;
}

.credit-card .input-group-text i {
  color: #ccc;
}
.credit-card .form-group:last-of-type {
  margin-bottom: 0;
}

/* Custom styles for mobile money form */
    #mobile-money-select {
      font-size: 1rem;
      font-weight: 500;
    }
    
    #country-code-select {
      width: 60%;
      font-size: 1rem;
      font-weight: 500;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    #mobile-number {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

/* paypal */

.search-wrapper {
  position: relative;
}

.search-form {
  display: none;
  position: absolute;
  top: 210%;
  z-index: 1;
}

.search-form form {
  display: flex;
  border-radius: 30px;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  border: 1px solid gray;
  
}

.search-form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
}
.search-form button{
  background-color: white;
  border: none;
}
.search-form button i {
  font-size: 1.2em;
  color: gray;
}
i.search-icon{
  cursor: pointer;
}
.search-form.active {
  display: block !important;
}

.signin-btn {
  background:transparent;
  border: 1px solid #E5E5E5;
  color: #0069d9;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  /* color: rgb(46, 44, 44); */
  font-size: 14px;
}
.icon-wrap{
  height: 28px;
  width: 28px;
  border-radius: 100%;
  border: 1px solid #E5E5E5;
}
.icon-wrap .fa-hand-holding-usd{
  font-size: 16px;
  padding-left: 5px;

}
.icon-wrap .fa-search{
  font-size: 16px;
  padding-left: 5px;
  padding-top: 5px;
}
.typcn-bell{
  font-size: 25px;
}
.emoji-wysiwyg-editor{
  height: auto !important;
  padding: 10px 10px;
  border-radius: 25px !important;
}
.image-upload-container {
  display: inline-block;
  font-size: 25px;
}
.file-input{
    display: none;
    
}


  .details p{
    /* line-height: 1.8; */
    font-size: 16px;
  }
  .reply {
    display: none;
  }

  
  .preview-image {
    display: inline-block;
    margin-right: 10px;
  }
  
  .preview-image button{
    position: absolute;
    color: red;
    border-radius: 90%;
    margin-left: -3%;
  }
  .preview-image img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    padding-bottom: 10px;
  }
  
  .file-input-container .fas{
    cursor: pointer;
    color: rgb(124, 121, 121);
  }
  .parent-comment .reply {
    display: block;
  }
